{% extends "base.html" %}
{% block title %}RT'Ransport | Prices{% endblock %}
{% block content %}
    <div class='h-auto lg:h-screen w-full'>
        <div class='mt-16 bg-white pb-12 lg:mt-20 lg:pb-20'>
            <div class='relative z-0'>
                <div class='xl:w-8/12 max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-24'>
                    <div class='relative lg:grid lg:grid-cols-7'>
                        <div
                                class='mx-auto max-w-md lg:mx-0 lg:max-w-none lg:col-start-1 lg:col-end-3 lg:row-start-2 lg:row-end-3'>
                            <div
                                    class='h-full flex flex-col rounded-lg shadow-lg overflow-hidden lg:rounded-none lg:rounded-l-lg'>
                                <div class='flex-1 flex flex-col'>
                                    <div class='bg-white px-6 py-10'>
                                        <div><h3 id='tier-hobby'
                                                 class='text-center text-2xl leading-8 font-medium text-gray-900'>
                                            Delivery</h3>
                                            <div class='mt-4 flex items-center justify-center'>
                                                <span class='text-xl leading-7 font-medium text-gray-500'>All destinations</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                            class='flex-1 flex flex-col justify-between border-t-2 border-gray-100 p-6 bg-gray-50 sm:p-10 lg:p-6 xl:p-10'>
                                        <ul>
                                            <li class='flex items-start'>
                                                <div class='flex-shrink-0'>
                                                    <svg class='h-6 w-6 text-green-500' fill='none'
                                                         stroke='currentColor' viewBox='0 0 24 24'>
                                                        <path d='M5 13l4 4L19 7' stroke-linecap='round'
                                                              stroke-linejoin='round' stroke-width='2'></path>
                                                    </svg>
                                                </div>
                                                <p class='ml-3 text-base leading-6 font-medium text-gray-500'>
                                                    Full follow-up</p></li>
                                            <li class='mt-4 flex items-start'>
                                                <div class='flex-shrink-0'>
                                                    <svg class='h-6 w-6 text-green-500' fill='none'
                                                         stroke='currentColor' viewBox='0 0 24 24'>
                                                        <path d='M5 13l4 4L19 7' stroke-linecap='round'
                                                              stroke-linejoin='round' stroke-width='2'></path>
                                                    </svg>
                                                </div>
                                                <p class='ml-3 text-base leading-6 font-medium text-gray-500'>
                                                    Original state</p></li>
                                            <li class='mt-4 flex items-start'>
                                                <div class='flex-shrink-0'>
                                                    <svg class='h-6 w-6 text-green-500' fill='none'
                                                         stroke='currentColor' viewBox='0 0 24 24'>
                                                        <path d='M5 13l4 4L19 7' stroke-linecap='round'
                                                              stroke-linejoin='round' stroke-width='2'></path>
                                                    </svg>
                                                </div>
                                                <p class='ml-3 text-base leading-6 font-medium text-gray-500'>
                                                    Efficient and rapid</p></li>
                                        </ul>
                                        <div class='mt-8'>
                                            <div class='rounded-full shadow-md'>
                                                <a aria-describedby='tier-hobby'
                                                   class='block w-full text-center rounded-full border border-transparent bg-white px-6 py-3 text-base leading-6 font-medium text-red-500 hover:text-red-400 focus:outline-none focus:shadow-outline transition ease-in-out duration-150'
                                                   href='/'>
                                                    Search for my parcel
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='mt-10 max-w-lg mx-auto lg:mt-0 lg:max-w-none lg:mx-0 lg:col-start-3 lg:col-end-6 lg:row-start-1 lg:row-end-4'>
                            <div class='relative z-10 rounded-lg shadow-xl'>
                                <div class='pointer-events-none absolute inset-0 rounded-lg border-2 border-red-500'></div>
                                <div class='absolute inset-x-0 top-0 transform translate-y-px'>
                                    <div class='flex justify-center transform -translate-y-1/2'>
                                        <span class='inline-flex rounded-full bg-red-500 px-4 py-1 text-sm leading-5 font-semibold tracking-wider uppercase text-white'>Best seller</span>
                                    </div>
                                </div>
                                <div class='bg-white rounded-t-lg px-6 pt-12 pb-10'>
                                    <div><h3
                                            class='text-center text-3xl leading-9 font-semibold text-gray-900 sm:-mx-6'>
                                        Transport</h3>
                                        <div class='mt-4 flex items-center justify-center'><span
                                                class='text-2xl leading-8 font-medium text-gray-500'>On deposition</span>
                                        </div>
                                    </div>
                                </div>
                                <div
                                        class='border-t-2 border-gray-100 rounded-b-lg pt-10 pb-8 px-6 bg-gray-50 sm:px-10 sm:py-10'>
                                    <ul>
                                        <li class='flex items-start'>
                                            <div class='flex-shrink-0'>
                                                <svg class='h-6 w-6 text-green-500' fill='none' stroke='currentColor'
                                                     viewBox='0 0 24 24'>
                                                    <path d='M5 13l4 4L19 7' stroke-linecap='round'
                                                          stroke-linejoin='round' stroke-width='2'></path>
                                                </svg>
                                            </div>
                                            <p class='ml-3 text-base leading-6 font-medium text-gray-500'>
                                                Fast</p></li>
                                        <li class='mt-4 flex items-start'>
                                            <div class='flex-shrink-0'>
                                                <svg class='h-6 w-6 text-green-500' fill='none'
                                                     stroke='currentColor' viewBox='0 0 24 24'>
                                                    <path d='M5 13l4 4L19 7' stroke-linecap='round'
                                                          stroke-linejoin='round' stroke-width='2'></path>
                                                </svg>
                                            </div>
                                            <p class='ml-3 text-base leading-6 font-medium text-gray-500'>
                                                Excellent state</p></li>
                                        <li class='mt-4 flex items-start'>
                                            <div class='flex-shrink-0'>
                                                <svg class='h-6 w-6 text-green-500' fill='none' stroke='currentColor'
                                                     viewBox='0 0 24 24'>
                                                    <path d='M5 13l4 4L19 7' stroke-linecap='round'
                                                          stroke-linejoin='round' stroke-width='2'></path>
                                                </svg>
                                            </div>
                                            <p class='ml-3 text-base leading-6 font-medium text-gray-500'>
                                                Several destinations</p></li>
                                        <li class='mt-4 flex items-start'>
                                            <div class='flex-shrink-0'>
                                                <svg class='h-6 w-6 text-green-500' fill='none' stroke='currentColor'
                                                     viewBox='0 0 24 24'>
                                                    <path d='M5 13l4 4L19 7' stroke-linecap='round'
                                                          stroke-linejoin='round' stroke-width='2'></path>
                                                </svg>
                                            </div>
                                            <p class='ml-3 text-base leading-6 font-medium text-gray-500'>
                                                Repositories</p></li>
                                        <li class='mt-4 flex items-start'>
                                            <div class='flex-shrink-0'>
                                                <svg class='h-6 w-6 text-green-500' fill='none' stroke='currentColor'
                                                     viewBox='0 0 24 24'>
                                                    <path d='M5 13l4 4L19 7' stroke-linecap='round'
                                                          stroke-linejoin='round' stroke-width='2'></path>
                                                </svg>
                                            </div>
                                            <p class='ml-3 text-base leading-6 font-medium text-gray-500'>
                                                Deliverys</p></li>
                                    </ul>
                                    <div class='mt-10'>
                                        <div class='rounded-full shadow-md'><a aria-describedby='tier-growth'
                                                                               class='block w-full text-center rounded-full border border-transparent bg-red-500 px-6 py-4 text-xl leading-6 font-medium text-white hover:bg-red-400 focus:outline-none focus:border-red-700 focus:shadow-outline-blue transition ease-in-out duration-150'
                                                                               href='/deposition'>
                                            Discover
                                        </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                                class='mt-10 mx-auto max-w-md lg:m-0 lg:max-w-none lg:col-start-6 lg:col-end-8 lg:row-start-2 lg:row-end-3'>
                            <div class='h-full flex flex-col rounded-lg shadow-lg overflow-hidden lg:rounded-none lg:rounded-r-lg'>
                                <div class='flex-1 flex flex-col'>
                                    <div class='bg-white px-6 py-10'>
                                        <div><h3
                                                class='text-center text-3xl leading-9 font-semibold text-gray-900 sm:-mx-6'>
                                            Parcel Depot</h3>
                                            <div class='mt-4 flex items-center justify-center'>
													<span
                                                            class='px-3 flex items-start text-6xl leading-none tracking-tight text-gray-900 sm:text-4xl'>
                            <span class='mr-2 text-4xl font-medium'>€</span>
                            <span class='font-bold'>5</span>
                          </span>
                                                <span class='text-2xl leading-8 font-medium text-gray-500'>/Parcel</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='flex-1 flex flex-col justify-between border-t-2 border-gray-100 p-6 bg-gray-50 sm:p-10 lg:p-6 xl:p-10'>
                                        <ul>
                                            <li class='flex items-start'>
                                                <div class='flex-shrink-0'>
                                                    <svg class='h-6 w-6 text-green-500' fill='none'
                                                         stroke='currentColor' viewBox='0 0 24 24'>
                                                        <path d='M5 13l4 4L19 7' stroke-linecap='round'
                                                              stroke-linejoin='round' stroke-width='2'></path>
                                                    </svg>
                                                </div>
                                                <p class='ml-3 text-base leading-6 font-medium text-gray-500'>
                                                    Reliable</p></li>
                                            <li class='mt-4 flex items-start'>
                                                <div class='flex-shrink-0'>
                                                    <svg class='h-6 w-6 text-green-500' fill='none'
                                                         stroke='currentColor' viewBox='0 0 24 24'>
                                                        <path d='M5 13l4 4L19 7' stroke-linecap='round'
                                                              stroke-linejoin='round' stroke-width='2'></path>
                                                    </svg>
                                                </div>
                                                <p class='ml-3 text-base leading-6 font-medium text-gray-500'>
                                                    Cheap</p></li>
                                            <li class='mt-4 flex items-start'>
                                                <div class='flex-shrink-0'>
                                                    <svg class='h-6 w-6 text-green-500' fill='none'
                                                         stroke='currentColor' viewBox='0 0 24 24'>
                                                        <path d='M5 13l4 4L19 7' stroke-linecap='round'
                                                              stroke-linejoin='round' stroke-width='2'></path>
                                                    </svg>
                                                </div>
                                                <p class='ml-3 text-base leading-6 font-medium text-gray-500'>
                                                    Easy</p></li>
                                        </ul>
                                        <div class='mt-8'>
                                            <div class='rounded-full shadow-md'>
                                                <a aria-describedby='tier-scale'
                                                   class='block w-full text-center rounded-full border border-transparent bg-white px-6 py-3 text-base leading-6 font-medium text-red-500 hover:text-red-400 focus:outline-none focus:shadow-outline transition ease-in-out duration-150'
                                                   href='/deposition'>
                                                    File a statement
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}