<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tailwind.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='icons/style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    {% endblock %}
</head>

<body>
<header>
    <div class='sticky bg-white shadow-md md:shadow-none border-none md:border-b lg:px-20 top-0 z-50 w-screen'>
        <div class='mx-auto px-4 sm:px-6'>
            <div
                    class='flex justify-between items-center border-b-2 border-gray-100 py-5 lg:justify-center md:justify-start md:space-x-10'>
                <div class='lg:w-0 lg:flex-1'>
                    <a class='flex' href='/'>
                        <img alt='Logo' class='lg:h-12 w-auto sm:h-6'
                             src="{{ url_for('static', filename='img/logo2.png') }}">
                    </a>
                </div>
                <nav class='hidden md:flex space-x-10'>
                    <a
                            class='text-base leading-6 font-medium text-gray-800 hover:text-red-500 focus:outline-none focus:text-red-500 transition ease-in-out duration-150'
                            href='/'>
                        <span class='icon-home'></span>
                        Home
                    </a>
                    <a
                            class='text-base leading-6 font-medium text-gray-800 hover:text-red-500 focus:outline-none focus:text-red-500 transition ease-in-out duration-150'
                            href='/prices'>
                        <span class='icon-coin-dollar'></span>
                        Tariffs
                    </a>
                    {% if session['user'] %}
                        <a class='text-base leading-6 font-medium text-gray-800 hover:text-red-500 focus:outline-none focus:text-red-500 transition ease-in-out duration-150'
                           href='/my-parcels'>
                            <span class='icon-codepen'></span>
                            My parcels
                        </a>
                    {% endif %}
                </nav>
                <div class='hidden md:flex items-center justify-end space-x-3 md:flex-1 lg:w-0'>
                    <form class='flex flex-column items-center justify-center mr-4'>
                        <label>
                            <input placeholder="Delivery or order code, etc.."
                                   class='w-48 pl-2.5 text-sm rounded-full border bg-gray-100 focus:border-gray-900 border-transparent outline-none border- focus:bg-white p-1'
                                   type='search'/>
                        </label>
                        <a
                                class='ml-1 text-base leading-6 font-medium text-xl text-gray-800 hover:text-red-500 focus:outline-none focus:text-red-500 transition ease-in-out duration-150 cursor-pointer'
                                type='submit'>
                            <span class='icon-search'></span>
                        </a>
                    </form>
                    {% if session['user'] %}
                        <div class='flex flex-row justify-between items-center space-x-2' v-else>
                            <p class='text-base leading-6 uppercase text-xl text-gray-800 hover:text-red-500 focus:outline-none focus:text-red-500 transition ease-in-out duration-150'>
                                {{ session['user']['firstname'] + " " + session['user']['lastname'] }}
                            </p>
                            <a class='text-base leading-6 font-medium text-xl text-gray-800 hover:text-red-500 focus:outline-none focus:text-red-500 transition ease-in-out duration-150'
                               href='/authentication/logout'>
                                <span class='icon-switch'></span>
                            </a>
                        </div>
                    {% else %}
                        <a class='text-base leading-6 font-medium text-2xl text-gray-800 hover:text-red-500 focus:outline-none focus:text-red-500 transition ease-in-out duration-150'
                           href='/authentication'>
                            <span class='icon-user'></span>
                        </a>
                    {% endif %}
                    <a
                            class='whitespace-no-wrap inline-flex items-center justify-center px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-full text-white bg-red-500 hover:bg-red-400 focus:outline-none focus:border-indigo-700 focus:shadow-outline transition ease-in-out duration-150'
                            href='/contact'>Contact</a>
                </div>
            </div>
        </div>
    </div>
    {% block header %}
    {% endblock %}
</header>
<section>
    {% block content %}

    {% endblock %}
</section>
<footer class='w-full block mt-3 h-auto mb-24 md:mb-6 py-12 md:py-6 px-3'>
    <div class='flex flex-col justify-center items-center space-y-2'>
        <div class='flex-row space-x-3 lg:space-x-20'>
            <a href='' class='text-base text-lg hover:text-red-500 transition ease-in-out duration-150'>Home</a>
            <a href='/prices'
               class='text-base text-lg hover:text-red-500 transition ease-in-out duration-150'>Tariffs</a>
            {% if session['user'] %}
                <a href='/my-parcels' class='text-base text-lg hover:text-red-500 transition ease-in-out duration-150'>My
                    Parcels</a>
            {% else %}
                <a href='/authentication'
                   class='text-base text-lg hover:text-red-500 transition ease-in-out duration-150'></a>
            {% endif %}
        </div>
        <div class='text-base text-lg text-center'>
            <p>Copyright © <span class='font-extrabold text-red-500'>RT'Ransport</span> 2021. All rights reserved.</p>
        </div>
    </div>
</footer>
</body>

</html>